@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Zeyada&display=swap");

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
	display: none;
	-webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

@theme {
	--font-zeyada: "Zeyada", cursive;

}
